@import url("common.css");
body {
  width: 100%;
  overflow: hidden;
  cursor: none;
}

body a {
  cursor: none;
}

header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

header .cursor {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-backdrop-filter: sepia(20%);
          backdrop-filter: sepia(20%);
  background-size: cover;
}

header .cursor-grow {
  -webkit-transform: scale(2);
          transform: scale(2);
  border: 1px solid #4d5d6d;
}

header .header {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  padding: 20px 0 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header .burger {
  width: 20px;
  height: 15px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

header .header .burger span {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .header .burger span:nth-of-type(1) {
  top: 0;
}

header .header .burger span:nth-of-type(2) {
  top: 44%;
}

header .header .burger span:nth-of-type(3) {
  bottom: 0;
}

header .header .burger p {
  position: absolute;
  top: -3px;
  left: 30px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.05em;
}

header .header .burger p:last-child {
  display: none;
}

header .header .burger.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translateY(9px);
          transform: rotate(45deg) translateY(9px);
}

header .header .burger.active span:nth-of-type(2) {
  display: none;
}

header .header .burger.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px);
          transform: rotate(-45deg) translateY(-10px);
}

header .header .burger.active p {
  display: none;
}

header .header .burger.active p:last-child {
  display: block;
}

header .header .logo {
  width: 280px;
  margin: 0 auto;
}

header .header .logo a {
  position: relative;
  top: 0;
  left: 0;
}

header .header .logo a img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header .logo a img.active {
  opacity: 0;
}

header .header .logo a span {
  position: absolute;
  top: -29px;
  left: 43%;
  font-weight: bold;
  font-size: 10px;
  color: #dcdcda;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header .logo a span.active {
  font-size: 1rem;
  left: 38%;
}

header .header .signin {
  text-transform: uppercase;
  color: #fff;
}

header .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 5%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(50px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .2s;
  transition: .2s;
}

header .menu a {
  color: #fff;
  -webkit-transform: translateX(-1200%);
          transform: translateX(-1200%);
}

header .menu a:nth-of-type(1) {
  -webkit-transition: .6s;
  transition: .6s;
}

header .menu a:nth-of-type(2) {
  -webkit-transition: .8s;
  transition: .8s;
}

header .menu a:nth-of-type(3) {
  -webkit-transition: 1s;
  transition: 1s;
}

header .menu a:nth-of-type(4) {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

header .menu a:nth-of-type(5) {
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

header .menu a.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header.active {
  border-bottom: none;
  width: 100%;
  height: 80px;
  padding: 0 10%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

main {
  width: 100%;
}

main .maincontents {
  text-align: center;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

main .maincontents .m-0,
main .maincontents .m-1,
main .maincontents .m-2,
main .maincontents .m-3,
main .maincontents .m-4 {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

main .maincontents .m-0 article,
main .maincontents .m-1 article,
main .maincontents .m-2 article,
main .maincontents .m-3 article,
main .maincontents .m-4 article {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

main .maincontents .m-0 article h2,
main .maincontents .m-1 article h2,
main .maincontents .m-2 article h2,
main .maincontents .m-3 article h2,
main .maincontents .m-4 article h2 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.3em;
  line-height: 1.25;
  text-transform: uppercase;
  color: white;
}

main .maincontents .m-0 article a,
main .maincontents .m-1 article a,
main .maincontents .m-2 article a,
main .maincontents .m-3 article a,
main .maincontents .m-4 article a {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 46px;
  width: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  color: #222;
  font-weight: bold;
  margin-top: 1.6rem;
}

main .maincontents .m-0 article a:hover,
main .maincontents .m-1 article a:hover,
main .maincontents .m-2 article a:hover,
main .maincontents .m-3 article a:hover,
main .maincontents .m-4 article a:hover {
  background: white;
}

main .maincontents .m-0 img,
main .maincontents .m-1 img,
main .maincontents .m-2 img,
main .maincontents .m-3 img,
main .maincontents .m-4 img {
  width: 100%;
  height: 100vh;
  -webkit-filter: saturate(70%);
          filter: saturate(70%);
}

main .maincontents .m-1 {
  overflow: hidden;
}

main .maincontents .m-1 video {
  width: 100%;
}

main .maincontents .news {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-top: 200px;
}

main .maincontents .news div {
  width: 100%;
}

main .maincontents .news div a {
  width: 95%;
  color: #000;
}

main .maincontents .news div a div {
  width: 95%;
  height: 300px;
  overflow: hidden;
}

main .maincontents .news div a div img {
  width: 100%;
  height: 300px;
  -webkit-transition: .5s;
  transition: .5s;
}

main .maincontents .news div a article {
  width: 95%;
  border-left: 1px solid #ddd;
  padding-left: 3%;
  height: 150px;
}

main .maincontents .news div a article h4 {
  padding: 24px 0 0 0;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}

main .maincontents .news div a article p {
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding-top: 10px;
  color: #444;
}

main .maincontents .more {
  display: block;
  width: 15%;
  margin: 100px auto;
  font-weight: bold;
  font-size: .9rem;
}

main .maincontents .more a {
  color: #000;
}

main .maincontents .more img {
  width: 20px;
}

main .maincontents .footer {
  background: #151515;
  width: 100%;
  padding: 80px 0;
  margin-top: 150px;
}

main .maincontents .footer .logo {
  width: 80%;
  padding-bottom: 10px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  text-align: left;
}

main .maincontents .footer .logo a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
}

main .maincontents .footer .link {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

main .maincontents .footer .link .links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .maincontents .footer .link .links div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .maincontents .footer .link .links div a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  padding-top: 10px;
}

main .maincontents .footer .link .links div a:hover {
  color: #fff;
}

main .maincontents .footer .link .links a {
  color: rgba(255, 255, 255, 0.7);
}

main .maincontents .footer .link .links a:hover {
  color: #fff;
}

main .maincontents .footer .link .social {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .maincontents .footer .link .social a {
  width: 30px;
  height: 30px;
}

main .maincontents .footer .link .social a img {
  width: 100%;
  height: 100%;
}

main .maincontents .footer .link .social img:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}
/*# sourceMappingURL=index.css.map */