@import url("common.css");
header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

header .header {
  width: 75%;
  position: fixed;
  top: 0;
  left: 12.5%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  padding: 20px 0 10px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header .burger {
  width: 20px;
  height: 15px;
  position: relative;
  top: 0;
  left: 0;
}

header .header .burger span {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 2px;
}

header .header .burger span:nth-of-type(1) {
  top: 0;
}

header .header .burger span:nth-of-type(2) {
  top: 44%;
}

header .header .burger span:nth-of-type(3) {
  bottom: 0;
}

header .header .logo a {
  position: relative;
  top: 0;
  left: 0;
}

header .header .logo a img {
  width: 270px;
}

header .header .logo a img.active {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header .logo a span {
  position: absolute;
  top: -30px;
  left: 114px;
  font-weight: bold;
  font-size: 10px;
  color: #dcdcda;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header .logo a span.active {
  font-size: 1rem;
  left: 103px;
}

header .header .signin {
  text-transform: uppercase;
  color: #fff;
}

header .header.active {
  width: 100%;
  border-bottom: none;
  padding: 20px 230px 0 240px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

main {
  width: 100%;
}

main .video {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

main .video video {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

main .news_event {
  width: 100%;
}

main .news_event h2 {
  position: absolute;
  top: 300px;
  left: 44%;
  color: #fff;
  z-index: -1;
}

main .news_event .news_event_width {
  width: 75%;
  margin: 0 auto;
  padding-top: 100px;
}

main .news_event .news_event_width img {
  height: 400px;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

main .news_event .news_event_width section {
  text-align: left;
  background: #fff;
  border-left: 1px solid #ddd;
  padding: 0 20px 40px 10px;
  height: 150px;
}

main .news_event .news_event_width section h4 {
  padding: 24px 0 0 0;
  font-weight: 400;
  letter-spacing: 0.125em;
  font-size: 1.5rem;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .news_event .news_event_width section p {
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.05714em;
  line-height: 1.57143;
  padding: 6px 0 0 0;
  color: dimgray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .news_event .news_event_width article {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
  margin-right: 4.5%;
}

main .news_event .news_event_width .n_e_1 {
  width: 64%;
  margin-right: 1.5%;
}

main .news_event .news_event_width .n_e_2 {
  width: 34%;
  margin-right: 0;
}

main .news_event .news_event_width .n_e_5,
main .news_event .news_event_width .n_e_8,
main .news_event .news_event_width .n_e_11,
main .news_event .news_event_width .n_e_14,
main .news_event .news_event_width .n_e_17 {
  margin-right: 0;
}

.footer {
  margin-top: 100px;
  background: #151515;
  height: 300px;
  width: 100%;
}

.footer .logo {
  width: 75%;
  padding: 40px 0 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.footer .logo a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
}

.footer .links {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.footer .links .link {
  width: 80%;
  padding-top: 30px;
}

.footer .links .link div {
  display: inline-block;
}

.footer .links .link a {
  color: #fff;
  font-size: .9rem;
}

.footer .links .link .link-1 a {
  margin-right: 180px;
}

.footer .links .link .link-2 {
  padding-top: 10px;
}

.footer .links .link .link-2 a {
  margin-right: 160px;
}

.footer .links .link .link-2 a:nth-of-type(2) {
  margin-right: 118px;
}

.footer .links .link .link-2 a:nth-of-type(3) {
  margin-right: 152px;
}

.footer .links .link .link-2 a:nth-of-type(4) {
  margin-right: 0;
}

.footer .links .link .link-3 {
  padding-top: 10px;
}

.footer .links .link .link-3 a {
  margin-right: 160px;
}

.footer .links .link .link-3 a:nth-of-type(2) {
  margin-right: 118px;
}

.footer .links .link .link-3 a:nth-of-type(3) {
  margin-right: 56px;
}

.footer .links .link .link-3 a:nth-of-type(4) {
  margin-right: 155px;
}

.footer .links .link .link-3 a:nth-of-type(5) {
  margin-right: 0;
}

.footer .links .social a {
  display: inline-block;
  margin-right: 20px;
}

.footer .links .social a img {
  width: 30px;
}

.footer .links .social a:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=news_event.css.map */